body{
    background: black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
}
.assignment{
    display:flex;
    padding: 10px;
    margin: 10px;
    background: lightgray;

}
.assignment img{
    width:250px;
    padding: 10px;
}
h1{
    color: darkred;
    text-align: left;
}